@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dune: var(--font-dune);
  --font-geologica: var(--font-geologica);
  --font-interstellar: var(--font-interstellar);
}
@theme {
  --color-primary: #1A1A1A;
  --color-secondary: #85D5C8;
  --color-tertiary: #C392EC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.swiper{
  overflow: visible !important;
  overflow-x: clip !important;
}
.swiper-button-next{
  color: #85D5C8 !important;
  top: -20px !important;
  width: 20px !important;
  height: 20px !important;
}
.swiper-button-prev{
  color: #85D5C8 !important;
  top: -20px !important;
  width: 20px !important;
  height: 20px !important;
  left: auto !important;
  right: 60px !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 30px !important;
}

