@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dune: var(--font-dune);
  --font-geologica: "Geologica", sans-serif;
  --font-interstellar: "Optibodoni-Antiqua", sans-serif;
}
@theme {
  --color-primary: #1A1A1A;
  --color-secondary: #85D5C8;
  --color-tertiary: #C392EC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

